name: CI-CD Pipeline

on: push

jobs:
  build-test-deploy:
    runs-on: self-hosted

    steps:

      - name: Clone Repo
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install Dependencies
        run: pip install -r requirement.txt

      - name: Run Tests
        run: pytest

      - name: Setup Minikube Daemon
        run: |
          eval $(minikube docker-env)
          docker build -t my-app-image .

      - name: Run K8S
        run: |
          kubectl apply -f k8s/deployement.yml
          kubectl apply -f k8s/service.yml


