name: Execute Py Script
on:
  push

jobs:
  Py-Script:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Python Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'   

      - name: Install Dependencies
        run: | 
          pip install --upgrade pip
          pip install -r requirements/main.txt

      - name: Execute Code
        run: python3 app/main.py